/* ===== Base Styles ===== */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: system-ui, Segoe UI, Roboto, Arial;
    background-color: black;
    padding: 0;
}

/* ===== Stage / Canvas ===== */
.stage {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20000px;
    height: 20000px;
    background-color: #9c7d52;
    transform: translate(-50%, -50%) translate(var(--tx, 0px), var(--ty, 0px)) scale(var(--scale, 1));
    transform-origin: center center;
    background-image:
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 40px 40px, 40px 40px;
    background-position: 0 0, 0 0;
    box-sizing: border-box;
}

/* ===== Sidebar ===== */
.sidebar {
    backdrop-filter: blur(10px);
    background: rgb(17, 17, 17);
    background: linear-gradient(0deg,rgba(17, 17, 17, .8) 0%, rgba(50, 50, 50, .6) 50%, rgba(17, 17, 17, .8) 100%);
    color: #fff;
    border: solid 2px #262626;
    border-radius: 2px;
    width: 27vw;
    height: calc(100vh - 4rem);
    display: flex;
    position: fixed;
    right: 2rem;
    top: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
    transition: right 0.25s ease-in-out;
}

.sidebar.hidden {
    right: calc(-27vw - 0.25rem);
}

.hide-sidebar {
    position: absolute;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    height: 4rem;
    width: 1.5rem;
    left: 0;
    top: calc(50% - 2rem);
    border-radius: 0 0.5rem 0.5rem 0;
    border-top: solid 2px #262626;
    border-right: solid 2px #262626;
    border-bottom: solid 2px #262626;
    border-left: none;
    transition: left 0.25s;
}

.sidebar.hidden .hide-sidebar {
    cursor: pointer;
    backdrop-filter: blur(10px);
    background: rgba(50, 50, 50, .6);
    color: #fff;
    border-radius: 0.5rem 0 0 0.5rem;
    border-top: solid 2px #262626;
    border-left: solid 2px #262626;
    border-bottom: solid 2px #262626;
    border-right: none;
    height: 4rem;
    width: 1.5rem;
    position: absolute;
    left: -1.5rem;
    top: calc(50% - 2rem);
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.hide-sidebar:active {
    background-color: rgba(255, 255, 255, .2) !important;
}

.board-form {
    display: flex;
    margin: 1rem 0.75rem 0;
    gap: 0.3rem;
}

.board-form input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.35rem;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.board-form input[type=color]::-webkit-color-swatch {
    border-radius: 2px;
    border: none;
}
.board-form input[type=color]::-moz-color-swatch {
    border-radius: 2px;
    border: none;
}

.board-form input[type=text] {
    letter-spacing: 0.05rem;
    margin: 0;
    font-weight: normal;
    font-size: 2rem;
    color: white;
    background-color: transparent;
    border: none;
    flex: 1;
    width: 100%;
}

.sidebar h2 {
    font-weight: normal;
    text-align: center;
    opacity: .5;
    margin: 0.5rem 0;
}

.color-option {
    background: RGBA(0, 0, 0, .4);
    background: linear-gradient(45deg, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0.4) 100%);
    border: solid 0.15rem rgba(255, 255, 255, .2);
    border-radius: 1px;
    margin-top: 3.5rem;
    height: 3rem;
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
    padding: 0.5rem;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.color-option div {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.025rem;
}

.color-option input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: none;
    border-radius: 1px;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    overflow: hidden;
}
.color-option input[type=color]::-webkit-color-swatch {
    border-radius: 2px;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
    border: none;
    transform: scale(1.5);
}
.color-option input[type=color]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
    border: none;
    transform: scale(1.5);
}

.new-note {
    background-color: #ffffff;
    border-radius: 2px;
    width: 18rem;
    height: 18rem;
    padding: 1rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.new-note button {
    background-color: #ce3838;
    border: none;
    border-radius: 50rem;
    width: 2rem;
    height: 2rem;
    box-shadow: 2px 5px 2px -1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    transition: transform 0.1s;
}
.new-note button:active {
    transform: scale(1.25);
}
.new-note textarea {
    flex-grow: 1;
    width: 100%;
    resize: none;
    font-size: 1rem;
    font-family: system-ui, Segoe UI, Roboto, Arial;
    border: solid 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.home-button {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    border-top: solid 0.15rem rgba(255, 255, 255, .2);
    padding: 1rem 0;
    text-decoration: none;
}

.home-button:active {
    background-color: rgba(255, 255, 255, .2);
}

/* ===== Canvas Wrapper ===== */
.canvas-wrapper {
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    width: 50rem;
    height: 50rem;
}

.canvas-wrapper::after {
    content: "";
    position: absolute;
    top: -200%;
    left: -200%;
    width: 400%;
    height: 400%;
    background-image: url('#grainy-noise');
    opacity: 1;
    pointer-events: none;
}

#canvas {
    width: 100%;
    height: 100%;
}

/* ===== Item (Note) ===== */
.item {
    position: absolute;
    background-color: #ededed;
    border-radius: 2px;
    box-shadow: 2px 5px 15px 0 rgba(0, 0, 0, 0.5);
    width: 20rem;
    height: 20rem;
    padding: 4rem 1rem 1rem;
    box-sizing: border-box;
    transition: box-shadow 0.1s;
    opacity: 1 !important;
    display: flex;
}

.item:hover {
    box-shadow: 2px 5px 15px 0 rgba(0, 0, 0, 0.8);
}

.item textarea {
    width: 100%;
    resize: none;
    font-size: 1rem;
    font-family: system-ui, Segoe UI, Roboto, Arial;
    border: none;
    background-color: transparent;
}

.menu {
    border: none;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 50rem;
    background: RGBA(0, 0, 0, .4);
    background: linear-gradient(45deg, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0.4) 100%);
    position: absolute;
    left: calc(50% - 1rem);
    top: 1rem;
    transition: left 0.1s, width 0.1s;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
}

.menu.active {
    width: 9.35rem;
    left: calc(50% - 3.65rem);
    top: 0.82rem;
    pointer-events: auto;
    border: solid 0.2rem white;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    padding-right: 0.05rem;
}

.menu button.delete {
    background-color: white;
    margin-left: 0.05rem;
    margin-top: 0.05rem;
    display: flex;
    border: none;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 50rem;
    align-items: center;
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
}

.menu button.delete:active {
    background-color: red;
    color: white;
}

.menu input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.4rem;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: -0.25rem;
    margin-right: -0.25rem;
}
.menu input[type=color]::-webkit-color-swatch {
    border-radius: 20px;
    border: none;
}
.menu input[type=color]::-moz-color-swatch {
    border-radius: 20px;
    border: none;
}

.pin {
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #ce3838;
    position: absolute;
    left: calc(50% - 1rem);
    top: 1rem;
    cursor: grab;
    box-shadow: 2px 5px 2px -1px rgba(0, 0, 0, 0.25);
    transition: transform 0.1s;
}

.pin::after {
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 0.25rem;
    width: 50%;
    height: 50%;
    opacity: 0.3;
    background-color: white;
    border-radius: 50%;
}

.pin:active, .pin.active {
    transform: scale(1.25);
}

.dragging, .dragging * {
    user-select: none !important;
    cursor: grabbing !important;
}

.controls {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition: 400ms ease-in-out;
    padding: 0.5rem;
}

.controls button {
    backdrop-filter: blur(10px);
    background: rgba(17, 17, 17, .8);
    color: #fff;
    border: solid 2px #262626;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 100ms ease-in-out;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}

.controls button:first-child {
    border-radius: 0.5rem;
    margin-bottom: 0.25rem;
}

.controls button:nth-child(2) {
    border-radius: 0.5rem 0.5rem 0.1rem 0.1rem;
    margin-bottom: 0.1rem;
}

.controls button:last-child {
    border-radius: 0.1rem 0.1rem 0.5rem 0.5rem;
}

.controls button:hover {
    background: #333;
    border-color: #3e3e3e;
}

.controls button:active {
    background: #565656;
    border-color: #606060;
    transform: scale(0.9);
}

