body {
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, Segoe UI, Roboto, Arial;
    background-color: #9c7d52;
    background-image:
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
        background-size: 40px 40px, 40px 40px;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.main {
    margin: 2rem;
    background: rgb(17, 17, 17);
    background: linear-gradient(0deg,rgba(17, 17, 17, .8) 0%, rgba(17, 17, 17, .7) 50%, rgba(17, 17, 17, .8) 100%);
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    border-radius: 2px;
}

a {
    text-decoration: none;
    color: rgb(66, 151, 255);
}

form.main {
    width: 30rem;
    min-height: 30rem;
    color: white;
    justify-content: space-between;
}

form.main div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

input[type=text], input[type=password] {
    background-color: rgba(0, 0, 0, .3);
    color: white;
    width: 25rem;
    height: 2rem;
    border: none;
    border-radius: 2px;
    padding: 0.5rem 0.75rem;
    font-size: 1.1rem;
    box-shadow: 1px 6px 15px 0px rgba(0,0,0,0.5) inset;
        -webkit-box-shadow: 1px 6px 15px 0px rgba(0,0,0,0.5) inset;
        -moz-box-shadow: 1px 6px 15px 0px rgba(0,0,0,0.5) inset;
}

.password-field {
    flex-direction: row !important;
    gap: 0 !important;
    position: relative;
}

#eye {
    background-color: rgb(20,20,20);
    border: none;
    color: white;
    font-size: 1.5rem;
    display: flex;
    height: 3rem;
    padding: 0 0.75rem;
    align-items: center;
    align-content: center;
    position: absolute;
    right: 0;
}

.footer {
    position: inherit;
    bottom: 0;
}