body {
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, Segoe UI, Roboto, Arial;
    background-color: #9c7d52;
    background-image:
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
        background-size: 40px 40px, 40px 40px;
    background-attachment: fixed;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 0 0;
}

body.home {
    padding: 2rem 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.main {
    backdrop-filter: blur(10px);
    margin: 2rem;
    background: rgb(17, 17, 17);
    background: linear-gradient(0deg,rgba(17, 17, 17, .8) 0%, rgba(17, 17, 17, .7) 50%, rgba(17, 17, 17, .8) 100%);
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    border-radius: 2px;
    color: white;
}

.main h2 {
    margin: 0;
}

.head {
    width: calc(100% - 4rem);
    padding: 0 2rem 1rem;
    margin: -1rem 0 0;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.15rem rgba(255, 255, 255, .5);
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(66, 151, 255);
}

.profile {
    font-size: 3rem;
    color: white;
    display: flex;
    padding: 1rem;
    padding: 0;
}

form button {
    cursor: pointer;
}

form.main {
    width: 30rem;
    min-height: 30rem;
    color: white;
    justify-content: space-between;
}

form.main div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

input[type=text], input[type=password], input[type=email] {
    background-color: rgba(0, 0, 0, .3);
    color: white;
    width: 25rem;
    height: 2rem;
    border: none;
    border-radius: 2px;
    padding: 0.5rem 0.75rem;
    font-size: 1.1rem;
    box-shadow: 1px 6px 15px 0px rgba(0,0,0,0.5) inset;
        -webkit-box-shadow: 1px 6px 15px 0px rgba(0,0,0,0.5) inset;
        -moz-box-shadow: 1px 6px 15px 0px rgba(0,0,0,0.5) inset;
}

.password-field {
    flex-direction: row !important;
    gap: 0 !important;
    position: relative;
}

#eye {
    background-color: rgb(20,20,20);
    border: none;
    color: white;
    font-size: 1.5rem;
    display: flex;
    height: 3rem;
    padding: 0 0.75rem;
    align-items: center;
    align-content: center;
    position: absolute;
    right: 0;
}

form button:active {
    filter: brightness(1.5);
}

button[type=submit] {
    width: 100%;
    height: 3rem;
    font-size: 1.25rem;
    color: white;
    background: #303030;
    background: linear-gradient(0deg, rgba(48, 48, 48, 1) 0%, rgba(36, 36, 36, 1) 100%);
    border: solid 0.1rem rgba(255, 255, 255, .5);
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.footer {
    position: inherit;
    bottom: 0;
}

.new-board {
    display: flex;
    flex-direction: column;
}

.new-board h3 {
    margin: 0 0 0.5rem 0;
    opacity: .5;
}

.new-board div {
    display: flex;
    align-items: center;
}

.new-board input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.35rem;
    height: 3.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.new-board input[type=color]::-webkit-color-swatch {
    border-radius: 2px;
    border: none;
}
.new-board input[type=color]::-moz-color-swatch {
    border-radius: 2px;
    border: none;
}

.new-board button[type=submit] {
    width: 3rem;
}

.body {
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    width: calc(100% - 4rem);
    flex-direction: column;
    align-items: center;
}

.body-title {
    margin-bottom: 0;
    opacity: .5;
}

.board-item {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.board-item a {
    background: RGBA(0, 0, 0, .4);
    background: linear-gradient(45deg, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0.4) 100%);
    border: solid 0.15rem rgba(255, 255, 255, .2);
    border-radius: 1px;
    flex-grow: 1;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
    transition: border 0.25s;
    justify-content: space-between;
}

.board-item a:hover {
    border: solid 0.15rem rgba(255, 255, 255, .5);
}

.board-item a:active {
    filter: brightness(1.5);
    background: linear-gradient(45deg, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0.4) 100%);
}

.board-item a span {
    opacity: .5;
}

.board-item a div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.board-col {
    width: 3rem;
    height: 3rem;
}

.board-item button {
    cursor: pointer;
    background: #ff5454;
    background: linear-gradient(45deg, rgba(255, 84, 84, 1) 0%, rgba(214, 30, 30, 1) 100%);
    border: solid 0.15rem rgba(0, 0, 0, .2);
    border-radius: 2px;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.board-item button:active {
    filter: brightness(0.5);
}