body {
    background-color: #b79361;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/svg/noise.svg);
    background-size: cover;
    filter: contrast(200%) brightness(25%);
    opacity: 0.25;
    pointer-events: none;
    z-index: -999;
}

.board {
  width: 100vw;
  height: 100vh;
}

.note {
    width: 20rem;
    height: 20rem;
    background-color: #ededed;
    border-radius: 0.25rem;
    position: absolute;
    left: 100px;
    top: 100px;
    padding: 0.75rem 1rem 1rem;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.25);
}

.note-head {
    width: 100%;
    height: 2rem;
    align-items: center;
}

.pin {
    width: 2rem;
    height: 2rem;
    border-radius: 50rem;
    background-color: red;
    position: relative;
    left: calc(50% - 1rem);
    cursor: grab;
    box-shadow: 2px 5px 2px -1px rgba(0, 0, 0, 0.25);
    transition: 250ms;
}

.pin::after {
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 0.25rem;
    width: 50%;
    height: 50%;
    opacity: 0.3;
    background-color: white;
    border-radius: 50rem;
}

.pin:active {
    opacity: 0.8;
    cursor: grabbing;
    width: 2.5rem;
    height: 2.5rem;
    left: calc(50% - 1.25rem);
    margin-top: -0.5rem;
    box-shadow: 10px 20px 5px -1px rgba(0, 0, 0, 0.25);
}

.note-body {
    height: calc(100% - 2rem);
    width: 100%;
}